
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
  background-size: cover;
 
  color: #fff;
 
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-repeat: no-repeat;
  background-size: 1530px 740px;
}

.login-form-container {
  background: rgba(252, 249, 249, 0.9);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-form-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
}

.login-form-container input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-form-container input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
  outline: none;
}

.login-form-container button {
  background-color: #6a11cb;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-form-container button:hover {
  background-color: #5a09b2;
  transform: scale(1.05);
}

.login-form-container .error {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
}

.login-form-container .register-link {
  margin-top: 15px;
  color: black;
}

.login-form-container .register-link span {
  color: #6a11cb;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
}

.login-form-container .register-link span:hover {
  color: #5a09b2;
}
